{% extends "base.html" %}
{% block content %}
<br>
<div style="text-align: right; padding:15px;">
    <a class="btn btn-primary" href="{% url 'dashboard' %}">Back to Dashboard</a>
    <button class="btn btn-primary" onclick="CreateStudentForm()" type="button"><strong>Add New Student</strong>
    </button>
</div>
<table , class="table table-dark" id="my_table">
    <h2 style="color:white;font-size:3rem; border-bottom: 1px solid grey;">All Students</h2>
    <thead>
    <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students_list %}
    <tr>
        <td>{{ student.name }}</td>
        <td><a class='btn btn-info' href="{% url 'student_all_teacher_list' student_id=student.id %}">view students</a>
        </td>
        <td><a href="#">edit</a></td>
        <td>
            <button class="btn btn-outline-danger" onclick="DeleteStudent({{student.id}})">Delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="modal" id="AddStudentForm" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Teacher </h4>
            </div>
            <div class="modal-body">
                <form class="modal-content animate">
                    {% csrf_token %}
                    <div style="padding:5px;">
                        <label for="StudentName"><b>Student Name</b></label>
                        <input id="student_name" name="student_name" placeholder="Enter name" type="text">
                        <br>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" onclick="CreateStudent()" type="button">Add</button>
                        <button class="btn btn-default" data-dismiss="modal" onclick="CloseCreateFormPopup()"
                                type="button">Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 function CreateStudentForm() {
        document.getElementById("AddStudentForm").style.display = "block";
    }

    function CloseCreateFormPopup() {
        document.getElementById("AddStudentForm").style.display = "none";
    }

     var url = "{% url 'graphql_view' %}";
     function CreateStudent() {
     query = `mutation ($name:String!){
            createStudent(name:$name)
          {
          student{id name}
          }}`;
            fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json',
                    "Accept": 'application/json',
                },
                body: JSON.stringify({
                    query: query,
                    variables: {
                        "name": $('#student_name').val(),
                    }
                }),
            }).then(response => {
                if (!response.ok) {}
                    location.reload();
                            })
            .then(result => {
                console.log(result)
            })

};
            function DeleteStudent(instance_id) {
     query = `mutation ($id:ID!){
            deleteStudent(id:$id)
          {
          student{id}
          }}`;
        fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json',
                    "Accept": 'application/json',
                },
                body: JSON.stringify({
                    query: query,
                    variables: {
                        "id": instance_id,
                    }
                }),
            }).then(response => {
                if (!response.ok) {
                }
                alert('Delete Successfully')
                location.reload()
                            })
            .then(result => {
                console.log(result)
            })
};



</script>
{% endblock %}