{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
            body {
            background: url( {% static 'core/images/background_image.jpg' %});
            -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
            }

.fa-star-o {
  color: orange;
  cursor: pointer;
}

.fa-star {
  color: orange;
  cursor: pointer;
}

    </style>
    <link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'core/css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {% block style %}{% endblock %}

</head>
<body>
{% block loader %}
{% endblock %}

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><h3>School manangement system</h3></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    {% if request.user.is_authenticated %}
    <div>
          <span class="navbar-brand mb-0 h1">
            <i class="fa fa-user" style="font-size:27px;color:black;"></i>
            {{request.user.username}}</span>
        <span class="navbar-brand mb-0 h1"><a href="{% url 'logout' %}">Logout</a></span>
    </div>
    {% else %}
    <div>
        <span class="navbar-brand mb-0 h1"><a href="{% url 'login' %}">Log In</a></span>
        <span class="navbar-brand mb-0 h1"><a href="{% url 'signup' %}">Sign Up</a></span>
    </div>
    {% endif %}
</nav>

{% block content %}
{% endblock %}

{% block js %}
<script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% endblock %}
</body>
</html>