{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1"><h3>School manangement system</h3></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    <span class="navbar-brand mb-0 h1"></span>
    {% if request.user.is_authenticated %}
    <div>
          <span class="navbar-brand mb-0 h1">
            <i class="fa fa-user" style="font-size:27px;color:black;"></i>
            {{request.user.username}}</span>
        <span class="navbar-brand mb-0 h1"><a href="{% url 'logout' %}">Logout</a></span>
    </div>
    {% else %}
    <div>
        <span class="navbar-brand mb-0 h1"><a href="{% url 'login' %}">Log In</a></span>
        <span class="navbar-brand mb-0 h1"><a href="{% url 'signup' %}">Sign Up</a></span>
    </div>
    {% endif %}
</nav>
<br>
<div>
    &nbsp; &nbsp;<button class="btn btn-info" href="#">Teachers List</button>
    &nbsp; &nbsp;&nbsp;&nbsp;<button class="btn btn-info" href="#">Student List</button>
</div>
{% endblock %}
{% block js %}
{% endblock %}
