{% extends "base.html" %}
{% block content %}
<br>
<div style="text-align: right; padding:15px;">
    <a class="btn btn-primary" href="{% url 'dashboard' %}">Back to Dashboard</a>
    <a class="btn btn-primary" href="{% url 'all_teachers_list' %}"> Back to teachers List</a>
    <button class="btn btn-primary" id="Add student" onclick="AddStudent()" type="button">Add Student</button>
</div>
<table , class="table table-dark" id="my_table">
    <h2 style="color:white;font-size:3rem; border-bottom: 1px solid grey;">All student of
        {{teacher.name}}</h2>
    <thead>
    <tr>
        <th>S.No.</th>
        <th>Name</th>
        <th></th>
        <th>Exceptional Students </th>
    </tr>
    </thead>
    <tbody>
    {% for instance in teacher_all_students_list %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ instance.student.name }}</td>
        <td></td>

        <td>
            {% if instance.is_stared %}
            <span id=star onclick="AddOrRemoveStar({{instance.id}})"><i aria-hidden="true"
                                                                        class="fa fa-star"></i> </span>
            {% else %}
            <span id=star onclick="AddOrRemoveStar({{instance.id}})"><i aria-hidden="true"
                                                                        class="fa fa-star-o"></i> </span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
     var url = "{% url 'graphql_view' %}";
     function AddOrRemoveStar(instance_id) {
     query = `mutation ($id:ID!){
            addOrRemoveStar(id:$id)
          {
          studentsOfTeacher{id}
          }}`;
        fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": 'application/json',
                    "Accept": 'application/json',
                },
                body: JSON.stringify({
                    query: query,
                    variables: {
                        "id": instance_id
                    }
                }),
            }).then(response => {
                if (!response.ok) {}
                    location.reload();
                            })
            .then(result => {
                console.log(result)
            })
};

</script>
{% endblock %}
